<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/images/logo.svg" />
    <title>Testimonials - Personal Web</title>
    <link rel="stylesheet" href="./assets/styles/all-page.css">
    <link rel="stylesheet" href="./assets/styles/testimonials.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0a1c7b5f76.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div class="nav-body">
            <div class="left">
                <img src="./assets/images/bahrul.svg" alt="logo">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/project">My Project</a>
                    </li>
                    <li>
                        <a href="/testimonials">Testimonials</a>
                    </li>
                </ul>
            </div>
            <div class="right">
                <a href="./contact">Contact Me</a>
                <button class="dropdown-button" onclick="toggleDropdown()">
                    <i class="fa-duotone fa-solid fa-bars fa-xl"></i>
                </button>
            </div>
        </div>
        <div class="hide" id="dropdown-nav-menu">
            <a href="/" class="dropdown-nav-list">Home</a>
            <a href="/myproject" class="dropdown-nav-list">My Project</a>
            <a href="/testimonials" class="dropdown-nav-list">Testimonials</a>
            <a href="/contact" class="contact-me-nav">Contact Me</a>
        </div>
    </nav>
    <div class="testimonials">
        <h1>MY TESTIMONIALS</h1>
        <p class="rating-title">Rating by star</p>
        <div class="rating-star-list">
            <button onclick="allTestimonial()" class="rating-star-button">ِAll</i></button>
            <button onclick="testimonialByRating(1)" class="rating-star-button">1 <i class="fa-solid fa-star"></i></button>
            <button onclick="testimonialByRating(2)" class="rating-star-button">2 <i class="fa-solid fa-star"></i></button>
            <button onclick="testimonialByRating(3)" class="rating-star-button">3 <i class="fa-solid fa-star"></i></button>
            <button onclick="testimonialByRating(4)" class="rating-star-button">4 <i class="fa-solid fa-star"></i></button>
            <button onclick="testimonialByRating(5)" class="rating-star-button">5 <i class="fa-solid fa-star"></i></button>
        </div>
        <div id="testimonials-list" class="testimonials-list">
            <!-- <div class="card">
                <img src="https://images.pexels.com/photos/1121796/pexels-photo-1121796.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <p class="testimonial-words">"Mantap sekali jasanya!"</p>
                <p class="author">- Surya Elidanto</p>
                <p class="rating">5 <i class="fa-solid fa-star"></i></p>
            </div>
            <div class="card">
                <img src="https://images.pexels.com/photos/1192609/pexels-photo-1192609.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <p class="testimonial-words">"Mantap sekali jasanya!"</p>
                <p class="author">- Surya Elidanto</p>
                <p class="rating">5 <i class="fa-solid fa-star"></i></p>
            </div>
            <div class="card">
                <img src="https://images.pexels.com/photos/1036622/pexels-photo-1036622.jpeg">
                <p class="testimonial-words">"Mantap sekali jasanya!"</p>
                <p class="author">- Surya Elidanto</p>
                <p class="rating">5 <i class="fa-solid fa-star"></i></p>
            </div> -->
        </div>
    </div>
</body>
<script src="./assets/script/navbar.js"></script>
<script src="./assets/script/testimonial-hof.js"></script>
</html>