/* Detail */

.project-detail {
    max-width: 900px;
    padding: 20px 40px;
    margin: 20px auto;
}

.project-detail h1 {
    text-align: center;
    font-size: x-large;
    font-weight: 800;
    margin-bottom: 40px;
}

.project-content {
    display: flex;
    gap: 35px;
}

.detail-img {
    width: 60%;
}

.project-content h2 {
    font-size: large;
    font-weight: 600;
    margin-bottom: 5px;
}

.project-content i {
    margin-right: 8px;
}

.project-content p {
    font-size: medium;
    font-weight: 500;
}

.tech {
    margin-top: 50px;
}

.tech-icon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 8px;
}

.tech-icon div {
    display: flex;
    flex-direction: row; 
    align-items: center;
    text-align: center;
    margin-right: 12px;
    gap: 8px;
}

.tech-icon img {
    max-width: 25px; 
}

.project-description {
    margin-top: 40px;
    text-align: justify;
    font-size: medium;
    font-weight: 500;
}

@media screen and (max-width: 800px) {
    .project-content {
        display: block;
        gap: 35px;
    }

    .detail-img {
        width: 100%;
        margin: auto;
    }

    .detail-data {
        margin-top: 18px;
        display: flex;
        justify-content: space-between;
    }

    .tech {
        margin-top: 0px;
    }

    .project-description {
        margin-top: 20px;
    }
}

@media screen and (max-width: 577px ) {
    .detail-data {
        display: block;
    }

    .tech {
        margin-top: 30px;
    }
}