/* Card */

.content {
    padding: 10px 24px;
}

.card {
    background-color: #fdfdfd;  
    margin: auto; 
    padding: 30px 40px; 
    border-radius: 10px; 
    box-shadow: 2px 2px 8px rgb(188, 188, 188); 
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-description {
    margin: auto;
}

.card-description h1 {
    font-size: 20px;
    font-weight: 800;
}

.card-description p {
    font-size: 14px;
    font-weight: 500; 
    text-align: justify;
}

.card-button-a {
    margin-top: 24px; 
    background-color: black; 
    color: white; 
    padding: 5px 20px; 
    border-radius: 18px; 
    border: none; 
    display: block; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: medium; 
    cursor: pointer;
}

.card-button-b {
    margin-top: 12px; 
    background-color: white; 
    border: none; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    font-size: medium; 
    cursor: pointer;
}

.card-button-b i {
    margin-left: 10px;
}

.social-media {
    color: black; 
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    margin: 20px 0px;
}

.social-media a {
    color: black; 
    font-size: 28px;
}

.img-card {
    width: 200px; 
    margin: auto; 
    background-color: #FFFFFF; 
    box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.285); 
    border-radius: 12px;
}

.img-card img {
    width: 100%;
    border-radius: 12px 12px 0px 0px
}

.img-card div {
    padding: 10px 0px; 
    text-align: center;
}

.img-card h2 {
    font-weight: 800;
    font-size: small; 
    margin: 0;
}

.img-card p {
    font-weight: 500;
    font-size: x-small; 
    margin: 0;
}



@media screen and (min-width: 575px) {
    .card {
        width: 70%;
    }

    .img-card {
        width: 230px;
    }

    .img-card h2 {
        font-size: medium;
    }
}

@media screen and (min-width: 767px) {
    .content {
        max-width: 900px; 
        margin: auto;
    }
    .card {
        width: fit-content;
        padding: 40px; 
        margin-top: 50px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 50px;
    }

    .card-description h1 {
        font-size: 24px;
    }

    .card-button-a {
        margin-top: 18px;
        margin-bottom: 18px; 
        display: inline; 
    }

    .social-media {
        color: black; 
        display: flex; 
        justify-content: start; 
        gap: 10px; 
        margin: 20px 0px;
    }

    .card-description {
        width: 100%;
        margin: auto;
    }

    .img-card {
        width: 100%; 
        margin: auto; 
        background-color: #FFFFFF; 
        box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.285); 
        border-radius: 12px;
    }
  }

  /* My Project */

.project-body {
    background-color: white;
    padding: 10px 24px;
    padding-bottom: 80px;
}

.project-body h1 {
    text-align: center;
    margin-top: 50px;
    font-size: x-large;
    font-weight: 800;
}

.project-list {
    max-width: 900px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 8px;
}

.project-card {
    background-color: #fdfdfd; 
    margin: auto;
    padding: 10px; 
    border-radius: 12px; 
    box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.409); 
    margin-bottom: 12px;
    box-sizing: border-box;
    width: 100%;
}

.card-image {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.project-body a {
    text-decoration: none;
    color: black;
}

.project-body a:hover {
    text-decoration: underline;
}

.project-card h2 {
    font-size: medium;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 4px;
}

.project-card .duration {
    font-size: small;
    font-weight: 500;
    margin-top: 0px ;
    color: #696969;
}

.project-card .description {
    font-size: small;
    font-weight: 500;
    margin: 20px 0px;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
    text-overflow: ellipsis; 
    -webkit-line-clamp: 3; 
    line-height: 1.2; 
    height: calc(1.2em * 3); 
}

.card-icon {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.card-icon img {
    width: 20px;
}

.myproject-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.myproject-button button {
    background-color: black; 
    color: white; 
    padding: 5px 20px; 
    border-radius: 8px; 
    border: none; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: medium; 
    cursor: pointer;
}

@media screen and (max-width: 769px) {
    .project-list {
        grid-template-columns: 1fr 1fr;
        gap: 14px;
    }

}

@media screen and (max-width: 577px ) {
    .project-list {
        gap: 8px;
    }
}

@media screen and (max-width: 450px ) {
    .project-list {
        grid-template-columns: 1fr;
        gap: 8px;
    }
}