
/* Form */

.date-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    gap: 10px;
}

.date-form div {
    flex-grow: 1;
}

.checkbox-form p{
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.checkbox-list {
    display: grid;
    grid-template-columns: 50% 50%;

}

.checkbox-list label {
    font-weight: 600;
    color: #696969;
}

.checkbox-list input {
    width: auto;
    cursor: pointer;
}

@media screen and (max-width: 345px) {
    .date-form {
        flex-direction: column;
        gap: 0;
    }
}